.backgoud-img {
    background-image: url(../../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.card-login {
    background-color: rgb(178, 196, 231);
}